* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  color: #0d0d0d;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

ul,
nav,
a,
li {
  text-decoration: none;
  list-style: none;
}
